<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://127.0.0.1:8080</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>LCCHP-Dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>appuser</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LCCHPEntityModelContainer" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=LCCHPDev;User ID=appUser;Password=Password1234;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LCCHPEntityModelContainer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/App_Code.LCCHPEntityModel.csdl|res://*/App_Code.LCCHPEntityModel.ssdl|res://*/App_Code.LCCHPEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LCCHPDev;user id=appUser;password=Password1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="aspnetdbConnString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=WebSiteAdmin;User=aspnetdbAppUser;Password=Password1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\aspnetdbConnString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=WebSiteAdmin;User=aspnetdbAppUser;Password=Password1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LCCHPEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=LCCHPDev;User ID=appUser;Password=Password1234;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LCCHPEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/App_Code.LCCHPEntityModel.csdl|res://*/App_Code.LCCHPEntityModel.ssdl|res://*/App_Code.LCCHPEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LCCHPDev;user id=appUser;password=Password1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="csLCCHP" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=LCCHPDev;User ID=appUser;Password=Password1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\csLCCHP_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=LCCHPDev;User ID=appUser;Password=Password1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)aspnetdbConnString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)csLCCHP-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LCCHPEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LCCHPEntityModelContainer-Web.config Connection String" />
  </ItemGroup>
</Project>